@font-face {
    font-family: LeagueScript;
    src: url('../fonts/LeagueScript.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Poppins;
    src: url('../fonts/Poppins-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

