.page-jumbotron {
    min-height: 42vh !important;
}

.jumbotron-bg {
    background-image: url('../assets/bg2.jpg');
    background-repeat: no-repeat;
}

.jumbotron-svg {
    position: absolute;
    height: 100%;
    width: 100%;
}

.wavy-div{
    position: relative;
}

.wavy-div::before{
    $height: 16px;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: $height;
    background-size: $height * 2;
    background-image: radial-gradient(circle at $height (0 - $height/2), transparent $height * 1.2, $BACKGROUND_DARK $height / 0.77);
}

.shadow-bg {
    background-color: rgba(0, 0, 0, 0.3);
}
