//https://flatuicolors.com/palette/ru thanks! <3

$CREAMY_PEACH: #f3a683;
$SAWTOOTH_AAK: #f19066;
$ROSY_HIGHLIGHT: #f7d794;
$SUMMERTIME: #f5cd79;
$PURPLE_MOUNTAIN_MAJESTY: #786fa6;
$PURPLE_CORALLITE: #574b90;
$ROGUE_PINK: #f8a5c2;
$FLAMINGO_PINK: #f78fb3;
$SOFT_BLUE: #778beb;
$CORNFLOWER: #546de5;
$SQUEAKY: #63cdda;
$BLUE_CURACAO: #3dc1d3;
$BREWED_MUSTARD: #e77f67;
$TIGERLILY: #e15f41;
$APPLE_VALLEY: #ea8685;
$PORCELAIN_ROSSE: #e66767;
$OLD_GERANIUM: #cf6a87;
$DEEP_ROSE: #c44569;
$PENCIL_LEAD: #596275;
$BISCAY: #303952;

$GREY_LIGHT: #efefef;
$GREY_DARK: #e3e3e3;

