@import "russianPallette";

$THEME_COLOR_LIGHT: $SQUEAKY;
$THEME_COLOR_DARK: $BLUE_CURACAO;

$SECOND_THEME_LIGHT: $ROSY_HIGHLIGHT;
$SECOND_THEME_DARK: $SUMMERTIME;

$BACKGROUND_LIGHT: $GREY_LIGHT;
$BACKGROUND_DARK: $GREY_DARK;

$BASE_FONT_SIZE: 22px;
$BUTTON_FONT_SIZE: $BASE_FONT_SIZE + 2;

$TEXT_LIGHT: #ffffff;
$TEXT_DARK: $BISCAY;
