@import "fonts";
@import "variables";
@import "tools";
@import "generic";

.text-light {
    color: $TEXT_LIGHT;
}

.btn {
    font-size: $BUTTON_FONT_SIZE;
}

.jumbotron-bg {
    background-image: url('../assets/bg2.jpg');
    background-repeat: no-repeat;
}

.shadow-bg {
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-light {
    background-color: $BACKGROUND_LIGHT;
}

.bg-dark {
    background-color: $BACKGROUND_DARK !important;
}

@mixin triangle-up($color, $size: 44px) {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0 - $size;
    left: 48%;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
}

.triangle-up-light {
    &:before {
        @include triangle-up($BACKGROUND_LIGHT);
    }
}

.triangle-up-dark {
    &:before {
        @include triangle-up($BACKGROUND_DARK);
    }
}

.jumbotron-svg {
    position: absolute;
    height: 100%;
    width: 100%;
}

@keyframes fantasy-snow-animate {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}

.fantasy-snow {
    $circleNumber: 40;
    $fullDelay: 1.2s;

    @for $i from 1 through $circleNumber {
        &:nth-child(#{$circleNumber}n+#{$i}) {
            $delay: $i/$circleNumber + 0.01s;
            animation-delay: $delay;
        }
    }

    animation: fantasy-snow-animate $fullDelay ease infinite;
  }
