@import "fonts";
@import "variables";
@import "tools";
@import "generic";

.text-light {
    color: $TEXT_LIGHT;
}

.btn {
    font-size: $BUTTON_FONT_SIZE;
}

.jumbotron-bg {
    background-image: url('../assets/bg2.jpg');
    background-repeat: no-repeat;
}

.shadow-bg {
    background-color: rgba(0, 0, 0, 0.3);
}

.bg-light {
    background-color: $BACKGROUND_LIGHT;
}

.bg-dark {
    background-color: $BACKGROUND_DARK !important;
}

@mixin triangle-up($color, $size: 44px) {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 0 - $size;
    left: 48%;
    border-left: $size solid transparent;
    border-right: $size solid transparent;
    border-bottom: $size solid $color;
}

.triangle-up-light {
    &:before {
        @include triangle-up($BACKGROUND_LIGHT);
    }
}

.triangle-up-dark {
    &:before {
        @include triangle-up($BACKGROUND_DARK);
    }
}

